<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DummyJSON</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="../js/dummyjson.js"></script>
    <link rel="stylesheet" href="../css/apis_page.css">
    <script src="/js/header-footer-loader.js"></script>
    <link rel="stylesheet" href="/css/header-footer.css">

</head>
<body>
    <header id="navbar"></header>
    <section>
        <h1>USERS</h1>
        <div id="output"></div>
    </section>
    <footer id="footer"></footer>
</body>
</html>